* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 1.3;
  font-size: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

hr {
  color: black;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  height: 40px;
  max-width: 760px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo__img {
  width: 80px;
  height: 40px;
}

.change-lang {
  background-color: inherit;
  width: 100px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main__contacts {
  padding-left: 30px;
}

.lng-position {
  padding-left: 30px;
  margin-top: 0;
}

.photo {
  width: 395px;
  display: flex;
  justify-content: center;
}

.photo>img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url('./img/good.JPG');
  background-size: contain;
}

main {
  padding: 10px;
  margin: 0 auto;
  max-width: 900px;
}

p {
  padding-left: 40px;
  margin: 0;
}

.lng-hero__title {
  max-width: 456px;
  padding-left: 30px;
  margin-bottom: 10px;
}

.certificates__item>p {
  padding: 0;
}

.lng-experience__subtitle {
  padding-left: 40px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.experience__list {
  list-style: disc;
  padding-left: 58px;
  margin-top: 0;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__item {
  display: flex;
  align-items: center;
}

.footer__item>a {
  margin-left: 5px;
}

.footer__item>h3 {
  margin: 0;
}


@media(max-width:850px) {
  .lng-hero__title {
    max-width: 320px;
  }

  .hero {
    padding: 10px;
    flex-direction: column;
  }
  .footer__list {
    font-size: 20px;
  }
}

@media(max-width:600px) {
  h1 {
    max-width: 200px;
  }

  .photo {
    width: 280px;
    margin: 0 auto;
  }

  ul,
  p,
  .main__contacts {
    padding-left: 10px;
  }

  .footer__list {
    font-size: 14px;
  }

}